
<%= link_to 'Back', articles_path %>

<%= link_to "Edit", edit_article_path(@article) %>
<div class="container">
    <div class="small-box mx-auto text-center">

<div class="card">
  <div class="card-header">
     <h4><strong> Showing selected article</strong></h4>

  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @article.title %></h5>
    <p class="card-text"><%= @article.text %></p>
   </div>
</div>
</br>
</br>
</br>


   <h2> Comments: </h2>
  <h3><%= 'No Comments' if @article.comments.empty? %></h2>
<div class="card-group">
    <% @article.comments.each do |comment| %>
   <div class="card">


       <div class="card-body">
      <h5 class="card-title">Comment by <%= comment.author %></h5>
      <p class="card-text"><%= comment.body %></p>

    </div>

  </div>
 <% end %>
  </div>




</br>
</br>
</br>



<div class="card">





<h2> Add comment </h2>

<p>
<%= form_for([@article, @article.comments.build]) do |f| %>

   <p>
      <%= f.label :body %> <br />
      <%= f.text_area :body %>
   </p>

 <p>
  <%= f.submit %>
 </p>

<% end %>

</p>

</div>

