
<%= link_to 'Back', articles_path %>

<%= link_to "Edit", edit_article_path(@article) %>
<h1>Showing selected article</h1>
<h1> <%= @article.title %> </h1>
<p>
<%= simple_format(@article.text) %>
</p>

<h2> Comments </h2>
<% @article.comments.each do |comment| %>
<p>
<i><%= comment.author %> said: </i>  <br />
<i><%= comment.body %> </i>  <br />
<p>
<% end %>

<h2> Add comment </h2>

<p>
<%= form_for([@article, @article.comments.build]) do |f| %>
   <p>
      <%= f.label :author %> <br />
      <%= f.text_field :author %>
   </p>

   <p>
      <%= f.label :body %> <br />
      <%= f.text_area :body %>
   </p>

 <p>
  <%= f.submit %>
 </p>

<% end %>

</p>
